.footer {
  background-image: url("/assets/images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-dark-cyan);
  padding: 1.25rem;
  margin-top: 3rem;
}

.footer__newsletter {
  margin-top: 2rem;
  order: -1;
}

.footer__newsletter-title {
  color: var(--very-pale-blue);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: var(--font-family-body);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: left;
}

.footer__newsletter-paragraph {
  color: var(--very-pale-blue);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-align: left;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
