.grow {
  background-color: var(--very-pale-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}

.title2 {
  color: var(--very-dark-cyan);
  font-size: 1.125rem;
  font-family: var(--font-family-heading);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: center;
}

.grow__img {
  width: 100%;
  height: auto;
  padding: 0 1.5rem;
  margin-top: 5rem;
}

.grow > div:nth-child(1) {
  margin-bottom: 1rem;
}

.grow > div:nth-child(2) {
  order: -1;
  margin-bottom: 5rem;
}

@media screen and (min-width: 1440px) and (max-width: 2200px) {
  .grow {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6rem 0;
  }

  .grow > div:nth-child(1) {
    margin-bottom: 0;
  }

  .grow > div:nth-child(2) {
    order: 0;
  }

  .title2 {
    font-size: 2.4rem;
    text-align: left;
  }

  .paragraph {
    width: 90%;
    text-align: left;
    font-size: 1rem;
  }
}
