.flowing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem 10rem;
  background-image: url("/assets/images/bg-section-bottom-mobile-1.svg"),
    url("/assets/images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top, bottom;
}

.flowing__img {
  width: 100%;
  height: auto;
  padding: 0 1.5rem;
  margin: 12rem 0 5rem 0;
}

@media screen and (min-width: 768px) {
  .flowing {
    padding-bottom: 16rem;
  }
}
